body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    color: white;
}

h1 {
    font-size: 2em;
}

.background-image {
    width: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
